/* Adds global style for the webpage. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.view-content {
position: relative;
}
.region-content {
  padding: 0;
}
.view-content {
  position: relative;
}