/* Declaring mixin styles */

@use "./variables" as *;

@mixin buttons {
  position: $position-absolute;
  bottom: 120px;
  color: $primary-color;
  font-size: 26px;
  border: 1px solid;
  padding: 0 7px;
  background: #bcbfc4;
}