/* Declaring styles for slider buttons. */

@use "../base/mixins" as *;

.arrow-right {
  content: "→";
  right: 150px;
  @include buttons;
}
.arrow-left {
  content: "←";
  right: 199px;
  z-index: 100;
  @include buttons;
}
.support {
  display: none;
  width: 105px;
  padding: 7px;
  background: #7100fe;
  border-radius: 50px;
}