/* Declaring styles for all the images on the site. */
@use "../base/variables" as *;

.icc-logo {
  position: $position-absolute;
  z-index: 10;
  margin-top: 10px;
  left: 62px;
  filter: invert(1);
}
.views-field-field-caraousel-image img {
  filter: brightness(0.5);
}
